// Thanks github.
button,
a.button,
input[type="submit"] {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  white-space: nowrap;
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(#fcfcfc, #eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#eee));
  background-image: linear-gradient(#fcfcfc, #eee);
  background-repeat: repeat-x;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  height: 35px;
  font-size: 13px;
  &:hover {

    text-decoration: none;
    background-color: #dddddd;
    background-image: -webkit-linear-gradient(#eee, #ddd);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: linear-gradient(#eee, #ddd);
    background-repeat: repeat-x;
    border-color: #ccc;
  }
  &:active {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
  }
  &:focus {
    outline: none;
    text-decoration: none;
    border-color: #51a7e8;
    -webkit-box-shadow: 0 0 5px rgba(81,167,232,0.5);
    box-shadow: 0 0 5px rgba(81,167,232,0.5);
  }
  &.danger {
    color: #900;
    &:hover {
      color: #fff;
      text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
      background-color: #b33630;
      background-image: -webkit-linear-gradient(#dc5f59, #b33630);
      background-image: -webkit-gradient(linear, left top, left bottom, from(#dc5f59), to(#b33630));
      background-image: linear-gradient(#dc5f59, #b33630);
      background-repeat: repeat-x;
      border-color: #cd504a;
    }
  }

}
