textarea.plain-text {
  height: 300px;
  width: 100%;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}

textarea.editor {
  height: 300px;
}

.ace_editor{
  margin-top: 0px;
  overflow: hidden;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  line-height: normal;
  direction: ltr;
}
.editor-container {
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  margin-bottom: 15px;
}
.editor-meta {
  height: 40px;
  border-bottom: 1px solid #ddd;
  background: #F6F6F6;
            @include clearfix;
  select {
    margin-bottom: 2px;
    font-size: 11px;
    height: 24px;
  }
  .editor-header-type {
    float: left;
    padding: 5px;
  }
  .editor-header-name {
    float: left;
    padding: 0;
    border-right: thin solid #ddd;
    input[type="text"], input[type="text"]:focus {
      height: 39px;
      border: none;
      margin: 0;
      padding: 4px 8px;
      box-shadow: none;
      outline: none;
      font-size: 12px;
      background-color: #F6F6F6;
    }

    input[type="text"]:focus {
      background-color: white;
    }
  }
  .editor-header-actions {
    float: right;
    padding: 7px 8px;
    height: 39px;
    border-left: thin solid #ddd;
    a {
      color: #ddd;
      &:hover {
        color: #900;
      }
    }
  }
}

