// Place all the styles related to the gists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gists {
  li {
    border-radius: 3px;
    padding: 15px;
    .title {
      font-size: 24px;
    }
    .status {
      font-size: 12px;
    }
    &:hover {
      background: #fafafa;
    }
  }
}

.gist-file {
  border: 1px solid #ccc;
  margin: 0 0 20px 0;
  border-radius:  0.25rem;
}

.gist-file-name {
  background: #f7f7f7;
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
  font-size: 12px;
  padding: 11px;
  border-bottom: 1px solid #ccc;
}
