// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-actions {
  float: right;
}
.pages {
  li {
    border-radius: 3px;
    padding: 15px;
    .title {
      font-size: 24px;
    }
    .status {
      font-size: 12px;
    }
    &:hover {
      background: #fafafa;
    }
  }
}
.pages-row {
}

.page-row {
  border-bottom: thin solid #eee;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

#preview_area {
  min-height: 300px;
  padding: 1rem;

  .fa-spin {
    color: #ddd;
    font-size: 3em;
  }
}
