.welcome {
  margin: 0 auto;
  width: 400px;
  background-color: #f3f3f3;
  text-shadow: 0 1px 0 #fff;
  border: 1px solid #e5e5e5;
  padding: 15px;
  margin-top: 60px;
  border-radius: 3px;
  .flash-notice {
    //@extend %flash-error;
    border-radius: 3px;
  }
}
@media (max-width: 600px) {
  .welcome {
    width: 90%;
  }
}
